.hea {
    display: flex;
    flex-direction: column;
    background: url('../image/CDI-Hero-img.webp') no-repeat top center;
    background-size:contain;
    height: 546px;
}
@media (max-width: 1024px) {
    .hea {
        background-size: cover;
    }}
@media (max-width: 412px) {
    .hea {
        margin-bottom: 305px;
        background:url('../image/CDI-Hero-img.webp')45% 102% no-repeat ;
    }}

.logo-section {
    display: flex;
    align-self: center;
    width: 275px;
    height: 104px;
    background: transparent url('../image/FT Logo.webp') 0% 0% no-repeat padding-box;
}
@media (max-width: 412px) {
    .logo-section {
        margin-left: 60px;
        background: transparent url('../image/FT Logo.webp') 0% 0% no-repeat round
    }}

.p-position{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 17px;
}

@media (max-width: 412px) {
    .p-position {
        align-self: center;
        margin-left: 0;
    }}
.p-position p{
    color: #82181A !important;
}

.hea .p-position .first{
    text-align: center;
    letter-spacing: 0px;
    font-size: 25px;
    color: #001738;
    text-transform: uppercase;
    opacity: 1;
    line-height: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.hea .lead{
    font-size: 59px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    color: #001738;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 0;
    line-height: 66px;
    font-weight: 500;
}
@media (max-width: 1024px) {
    .hea .p-position .lead {
        font-size:50px
    }}

.hea .p-position .lead1{
    text-align: center;
    font-size: 25px;
    letter-spacing: 0px;
    color: #001738;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 19px;
    line-height: 12px;
}
.hea .p-position .lead2{
    text-align: center;
    font-size: 33px;
    letter-spacing: 0px;
    color: #001738;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 30px;
}
@media (max-width: 1024px) {
    .hea .p-position .lead2 {
        font-size:25px
    }}

.flex-form-step{
    display: flex;
    height: 275px;
}
@media (max-width: 412px) {
    .flex-form-step {
        flex-direction: column;
    }}
.step{
    margin-top: 140px;
    width: 499px;
    height:116px;
    background: #131140 0% 0% no-repeat padding-box;
    opacity: 0.75;
}
@media (max-width: 1024px) {
    .step {
        width: 400px;
    }}
@media (max-width: 912px){
    .step {
         width: 296px;
    }}
@media (max-width: 412px) {
    .step {
        margin-top: 72px;
    }}
.step-content{
    padding:18px 26px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1024px) {
    .step-content {
        padding:18px 26px;
    }}
@media (max-width: 1024px){
    .step-content {
        padding: 19px 19px;
    }}
@media (max-width: 412px) {
    .step-content {
        padding: 13px 13px;
    }}

.step-content span{
   font: italic normal 600 23px/32px Montserrat;
    letter-spacing: 0px;
    color: #F9F4EB;
    text-transform: uppercase;
    opacity: 1;
}
@media (max-width: 1024px) {
    .step-content span{
        font: italic normal 600 18px/26px Montserrat;
    }}
@media (max-width: 912px){
    .step-content span {
        font: italic normal 600 14px/26px Montserrat;
    }}
.first-form {
    align-self: flex-end;
    margin-left: 261px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    background: #131140 0% 0% no-repeat padding-box;
    opacity: 0.75;
    height: 321px;
}
@media (max-width: 1024px) {
.first-form {
    margin-left: 198px;
    margin-bottom: -8px;

}}
@media (max-width: 768px){
.first-form {
    margin-left: 43px;
    margin-bottom: -8px;
}}
@media (max-width: 412px) {
    .first-form {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 85px;
        opacity: 1;
    }}

.input-margin{
    margin-bottom: 20px;
    width: 390px;
    height: 41px;
    background: #F9F4EB 0% 0%;
    opacity: 1;
}
@media (max-width: 1024px) {
    .input-margin {
        width: 350px;
    }}
.input-margin img{
    width: 25px;
}
.form-control::placeholder {
    color: #82181A;
    font-size: 20px;
    font-family: 'Poppins' , sans-serif;;
}
.-h{
    width: 483px;
    height: 50px;
    text-align: center;
    letter-spacing: 0px;
    font-size: 22px;
    font-weight: normal;
    justify-content: center;
    font-style: italic;
    line-height: 55px;
    font-family: 'Poppins', sans-serif;;
    color: #F9F4EB;
    opacity: 1;
    margin-top: 11px;
    margin-bottom: 11px;
}
@media (max-width: 1024px) {
    .-h {
        width: 416px;
    }}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
.form input{
    border: none;
}
.flag-button{
    background: transparent url('../image/Red-Flag.webp') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 50%;
    height: 60px;
    margin: 0 auto 0;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .flag-button{
        height: 50px;
    }}

.flag-button button{
    padding: 6px 17px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;;
    letter-spacing: 0px;
    color: #F9F4EB;
    text-transform: uppercase;
    opacity: 1;
    background: transparent;
    border: 2px solid #F9F4EB;
}
@media (max-width: 1024px) {
    .flag-button button{
        padding: 5px 10px;
        font-size: 10px;
    }}

.ceo-section{
    background: #F9F4EB;
    height: 1088px;
    padding: 1px 0;
}
.ceo-section .first{
    width: 84%;
    margin: 45px auto;
    background: #EEE;
    font-size: 25px;
    font-weight: 400;
    height: 400px;
    padding: 10px 10px 0 10px;
}
@media (max-width: 1024px){
    .ceo-section .first {
        height: 354px;
    }}
@media (max-width: 912px){
    .ceo-section .first {
        height: 323px;
    }}
@media (max-width: 768px){
    .ceo-section .first {
        width: 90%;
        height: 280px;
    }}
@media (max-width: 412px){
    .ceo-section .first {
        width: 100%;
        height: 293px;
    }}
.ceo-section .first .first-line{
    font-size: 27px;
    color: #636060;
}
@media (max-width: 1024px) {
    .ceo-section .first .first-line{
        font-size: 21px;
    }
}
    @media (max-width: 912px){
        .ceo-section .first .first-line {
            font-size: 18px;
        }}
@media (max-width: 768px){
    .ceo-section .first .first-line {
        font-size: 14px;
    }}
.ceo-section .first .first-line-res {
    display: none;
}
@media (max-width: 412px){
    .ceo-section .first .first-line-res {
        display: block;
        color: #636060;
        font-size: 14px;
    }
    .ceo-section .first .first-line{
        display: none;
    }
}
.first-row{
    margin-left: 60px;
}
@media (max-width: 412px){
    .first-row {
        margin-left: 14px;
    }
    .second-row-res{
        margin-left: 72px;
    }
    .second-row-resp{
        margin-left: 63px;
    }
    .second-row-respo{
        margin-left: 112px;
    }
}
.second-row{
    margin-left: 50px;

}
.third-row{
    margin-left: 60px;
}
.end-row{
    margin: 0 205px;
}
@media (max-width: 1024px) {
    .end-row{
        margin: 0 160px;
    }
}
.first-icon{
    float: left;
    margin-left: 30px;
}
@media (max-width: 412px){
    .first-icon {
        margin-left: 0;
    }}
.end-icon{
    float: right;
    margin-right: 30px;
}
.first-line::after{
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    background-color: #AAA;
    margin: 25px 48px;
}
.first-line-res::after{
    content: "";
    display: block;
    width: 70%;
    height: 3px;
    background-color: #AAA;
    margin: 25px 60px;
}
    @media (max-width: 412px){
        .first-line-res::after {
            width: 60%;
            margin: 14px auto;
        }}

.ceo-info{
    float: right;
    color: #82181A;
    margin-right: 48px;
    font-family: 'Montserrat', sans-serif;;
}
@media (max-width: 412px){
.ceo-info {
    margin-left: 0px;
    margin-right: 74px;
}}
.ceo-name{
    font-size: 25px;
    font-weight: 900;
}
@media (max-width: 768px){
    .ceo-name{
        font-size: 20px;
        margin-bottom: 0;
    }}
@media (max-width: 412px){
    .ceo-name {
        font-size: 14px;
    }}
.ceo-type{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
}
@media (max-width: 768px){
    .ceo-type{
        font-size: 14px;
    }}
@media (max-width: 412px){
    .ceo-type {
        font-size: 10px;
    }}
.ceo-section .second{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background: #F9F4EB;

}
.ceo-section .second .title p{
    text-align: center;
    font: italic normal normal 48px/67px Poppins;
    letter-spacing: 0px;
    color: #48181C;
    opacity: 1;
}
@media (max-width: 1024px) {
    .ceo-section .second .title p{
        font: italic normal normal 40px/67px Poppins;
    }
}
@media (max-width: 768px){
.ceo-section .second .title p {
    font: italic normal normal 30px/67px Poppins;
}}
@media (max-width: 412px){
.ceo-section .second .title p {
    font: italic normal normal 25px/13px Poppins;
}}
.ceo-section .second .title::after {
    content: "";
    display: block;
    width: 751px;
    height: 3px;
    background-color: #AAA;
    margin: 25px auto;
}
@media (max-width: 768px){
.ceo-section .second .title::after {
    width: 480px;
}}
@media (max-width: 412px){
    .ceo-section .second .title::after {
        width: 68%;
    }}
.ceo-section .second .type{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 50px 0;
}
@media (max-width: 412px){
    .ceo-section .second .type {
        flex-direction: column;
        padding: 0;    }}


.ceo-section .second .type .img-type .text-type {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    color: #48181C;
}
@media (max-width: 768px){
    .ceo-section .second .type .img-type img{
    width: 50px;
    }
}
@media (max-width: 412px){
    .ceo-section .second .type .img-type {
        margin-bottom: 36px;
    }
}
.ceo-section .second .type .img-type .text-type .first-span ,
.ceo-section .second .type .img-type .text-type .first-span-reverse{
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;;
}
@media (max-width: 1024px) {
    .ceo-section .second .type .img-type .text-type .first-span ,
    .ceo-section .second .type .img-type .text-type .first-span-reverse{
        font-size: 25px;
    }
}
@media (max-width: 768px){
    .ceo-section .second .type .img-type .text-type .first-span,
    .ceo-section .second .type .img-type .text-type .first-span-reverse {
        font-size: 20px;
    }
    .first-span-reverse{
        margin-bottom: 0;
    }
    .first-span-rev{
        margin-bottom: 10px;
    }
    .fast{
        width: 85px !important;
    }
}
.ceo-section .second .type .img-type .text-type .second-span,
.ceo-section .second .type .img-type .text-type .first-span-rev{
    font-size: 20px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;;
}
@media (max-width: 1024px) {
    .ceo-section .second .type .img-type .text-type .second-span ,
    .ceo-section .second .type .img-type .text-type .first-span-rev{
        font-size: 16px;
    }
}
.ceo-section .second .end{
    background: #82181A 0% 0% no-repeat padding-box;
    height: 192px;
    text-align: center;
    font: italic normal normal 40px/60px Nassim Latin;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #F9F4EB;
    justify-content: center;
}
@media (max-width: 1024px) {
    .ceo-section .second .end
{
        font: italic normal normal 30px/60px Poppins;
    }
}
@media (max-width: 768px){
    .ceo-section .second .end {
        font: italic normal normal 25px/50px Poppins;
    }}
@media (max-width: 412px){
    .ceo-section .second .end {
        display: none;
    }}
.ceo-section .third{
    display: flex;
    justify-content: space-between;
    padding: 60px 66px;
    background: #F9F4EB;
}
@media (max-width: 768px){
    .ceo-section .third{
        padding: 60px 26px;
    }}
@media (max-width: 412px){
    .ceo-section  .third {
        display: none;
    }}

.ceo-section .third .third-img{
    position: relative;
}
.ceo-section .third .third-img img{
    width: 350px;
}
@media (max-width: 1024px) {
    .ceo-section .third .third-img img{
        width: 260px;
    }
}
@media (max-width: 1024px){
    .ceo-section .third .third-img img {
        width: 240px;}
    }
@media (max-width: 768px){
    .ceo-section .third .third-img img {
        width: 225px;
    }}
.ceo-section .third .third-img::after{
    background: #F9F4EB 0% 0% no-repeat padding-box;
    align-items: center;
    border: 2px solid #48181D;
    bottom: -35px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 270px;
    display: flex;
    height: 68px;
    text-align: center;

    font: normal normal bold 21px/21px Montserrat;
    color: #48181D;

}
@media (max-width: 1024px) {
    .ceo-section .third .third-img:after{
        width: 195px;
        display: flex;
        height: 50px;
    font: normal normal bold 15px/21px Montserrat}
}
.ceo-section .third .one::after{
    content: "ISTANBUL FINANCE CENTRE";
}
.ceo-section .third .tow::after{
    content: "TURN-KEY QUEEN BOMONTI RESIDENCES";
}
.ceo-section .third .three::after{
    content: "AUCTIONS AND BANK FORECLOSURES";
}
.ceo-section .third .four::after{
    content: "20%+ \A ANNUAL RETURNS";
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ceo-section .third .five::after{
    content: "0% TAX \A (FULL TAX SHELTER)";
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ceo-section .third .six::after{
    content: "PEACE-OF-MIND \A & FULLY SECURE";
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ceo-section .third .seven::after{
    content: "&MANAGED BY \A PROPERTY EXPERTS";
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ceo-section .third .eight::after{
    content: "FAST TRACKED \A CITIZENSHIP";
    white-space: pre;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carousel-section{
    padding: 50px 0;
    background: #141140;
}
.carousel-section-res{
    display: none;
}
@media (max-width: 412px) {
    .carousel-section {
        display: none;
    }

    .carousel-section-res {
        display: block;
        padding: 26px 28px;
        background: #141140;
    }

    .carousel-control-next img, .carousel-control-prev img {
        width: 32px;
    }
}
.row {
    --bs-gutter-x: 3.5rem !important;
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
@media (max-width: 1024px) {
.carousel-control-next img, .carousel-control-prev img{
    width: 100px;
}
}
@media (max-width: 768px){
    .carousel-control-next img, .carousel-control-prev img {
        width: 80px;
    }}
.object{
    object-fit: cover;
    background-size: cover;
    height: 100%;
    object-position: right;
}
.invest-section{
    background: #F9F4EB;
    padding: 40px 0 20px 0;

}
.invest-section .title p{
    text-align: center;
    font: italic normal normal 48px/67px Poppins;
    letter-spacing: 0px;
    color: #48181C;
    opacity: 1;
}
@media (max-width: 1024px) {
    .invest-section .title p{
        font: italic normal normal 40px/67px Poppins;
    }}
@media (max-width: 768px){
    .invest-section .title p {
        font: italic normal normal 30px/67px Poppins;
    }}
@media (max-width: 412px){
    .invest-section .title p {
        font: italic normal normal 19px/22px Poppins;
        margin-bottom: 20px;
    }}
.invest-section .title::after {
    content: "";
    display: block;
    width: 786px;
    height: 3px;
    background-color: #AAA;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .invest-section .title::after {
        width: 580px;}
}
@media (max-width: 412px){
    .invest-section .title::after {
        width: 50%;
    }}

.invest-section .third-tow{
    padding: 66px 230px;
}
@media (max-width: 912px) {
    .invest-section .third-tow {
        padding: 66px 170px;
    }
}
@media (max-width: 768px){
    .invest-section .third-tow {
        padding: 66px 120px;
    }}
.group-section{
    background: #131140;
    padding: 36px 0;
}
.group-section img{
    width: 120px;
}

@media (max-width: 912px) {
    .group-section img {
        width: 100px;
    }
}
@media (max-width: 768px){
.group-section img {
    width: 90px;
}}
@media (max-width: 412px) {

    .group-section {
        background: #131140;
        width: 100%;
        height: 136px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }

    .group-section::-webkit-scrollbar {
        display: none;
    }

    .group-section img {
        width: 150px;
        height: auto;
        margin-right: 50px;

    }
    .space-end{
        margin-right: 0 !important;
    }
}
/*.group-section {*/
/*    background: #131140;*/
/*    padding: 36px 0;*/
/*}*/
.last-section{
    background: transparent url('../image/Galata Port.webp') 0% 0% no-repeat padding-box;
    background-size: contain;
    height: 540px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .last-section{
        height: 435px;
    }}
@media (max-width: 912px){
    .last-section {
        height: 390px;
    }}
@media (max-width: 768px){
    .last-section {
        height: 326px;
    }}
@media (max-width: 412px){
    .last-section {
        background: transparent url('../image/Galata Port.webp') 46% 0% no-repeat;
        background-size: cover;
        height: 699px;
    }}
.flag-last{
    background: transparent url('../image/Red-Flag.webp') 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1024px) {
    .flag-last{
        width: 430px;
        height: 80px;
        background-size: cover;
    }
}
@media (max-width: 412px) {
    .flag-last{
        width: 310px;
        height: 78px;
        background-size: contain;
        margin-top: 70px;

    }
}

.flag-last button{
    text-align: center;
    font: normal normal bold 36px/36px Montserrat;
    letter-spacing: 0px;
    color: #F9F4EB;
    text-transform: uppercase;
    padding: 10px 130px;
    opacity: 1;
    background: transparent;
    border: 2px solid #F9F4EB;
}
@media (max-width: 1024px) {
    .flag-last button{
        font: normal normal bold 18px/24px Montserrat;
        color: #F9F4EB;
        text-transform: uppercase;
        padding: 0px 90px;
    }}

@media (max-width: 412px) {
    .flag-last button{
        padding: 0px 28px;
    }}
.footer{
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F4EB 0% 0% no-repeat padding-box;
}